.aguaN{
    width: 10%;
    margin-top: 6%;
    margin-left: 45%;
}

.po{
    margin-left: 35%;
}
.po h2{font-style: normal;
    font-weight: 200;
    font-size: 20px;
margin-left: 20%;
}

.box{
    background-color: #1D2938;
    border-radius: 5%;
    padding: 40px; 
    margin: 40px;
    width: 300px;
    height: 150px;
}
.input{
    border-radius: 5px;
    display: flex;
    height: 25px;
    width: 100%;
    margin-bottom: 17px;

}
.button{
    border-radius: 5px;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74AAE4;
    height: 30px;
    width: 102%;
    margin-bottom: 15px;
}
.button2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}